---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Me post"
  pubDate={new Date("October 16, 2023")}
  heroImage="/john-in-wonderland/DSCF9980.jpg"
>
  <p>
    Heyo! I'm John, and if you're here, then you're probably just as a tech nerd
    as I am! I'm currently interning as a software developer at
    <a href="https://www.littlesymphonyrecords.com/" target="_blank"
      >Little Symphony Records</a
    >, and studying Software Development & Network Engineering at <a
      href="https://www.sheridancollege.ca/en"
      target="_blank">Sheridan College, Ontario</a
    >.
  </p>
  <p>
    Since attending College, I've been venturing deep into the tech rabbit hole;
    learning front-end, back-end, cloud computing, forcing myself into
    networking events, getting no sleep competing in hackathons, then back to
    more learning, sharpening my craft, and being the best I can be. Of course I
    can't say that I'm the greatest out there, but it was through my
    professional and educational experiences that have led me to where I am now.
  </p>
  <p>
    Nowadays, I'm still learning as much as I can. Powering through college
    semesters, tackling new challenges at work, all while juggling my own
    passion projects. Out of the office, you'll find me playing the guitar,
    honing my craft as a photographer, and spending most of my time with my
    family and friends!
  </p>
</Layout>
