---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Join me in Wonderland</h1>
			<p>
				Hello there, tech enthusiast!
			</p>
			<p>
				Whether you're a fellow student navigating the exciting world of technology or simply someone interested in the ever-evolving tech industry, you've come to the right place.
				Welcome to my corner of the internet, where I'll be sharing my journey down the rabbit hole in tech.
			</p>
			<p>
				My journey into the world of technology started with a spark of curiosity.
				From the first lines of code I wrote to the awe-inspiring breakthroughs in artificial intelligence and beyond, I've been captivated by the limitless possibilities that tech offers.
				In this blog, I'll take you back to the very beginnings of my tech journey and share how I took my first steps into this captivating world.
			</p>
			<p>
				Balancing the demands of being a student while diving headfirst into a career in software development and engineering isn't always a walk in the park.
				I'll be sharing my experiences, tips, and strategies on how to juggle coursework, internships, and personal projects, all while keeping the tech dream alive.
			</p>
			<p>
				But it's not all about the serious stuff!
				I'll also be delving into the exciting, fun, and quirky aspects of the tech world.
				From the latest gadgets and apps to emerging trends and mind-blowing innovations, we'll explore the lighter side of technology together.
			</p>
		</main>
		<Footer />
	</body>
</html>
